[Desktop Entry]
Name=TangraPlay
GenericName=TangraPlay
Comment=Плеър за Рок Радио Тангра
Exec=TangraPlay
Terminal=false
Icon=tangraplay
Type=Application
X-KDE-PluginInfo-Website=http://tangraplay.blago.cloud
Categories=AudioVideo;Player
Keywords=Player;Radio;Tangra;Rock;Broadcast
X-AppImage-Name=TangraPlay
X-AppImage-Version=2.0.0
X-AppImage-Arch=x86_64